body {
    background-image: url(img/2.png);
    background-color: #FFFFFF;
    
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:top;
    font-size: 20px;
}

table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    padding: 10px
}

p {
margin-left: 10px
}

h1 {
    text-align: center;
}

select {
    padding:10px;
    border:2px;
    border-radius: 10px;
    color: white;
    background-color: rgba(43, 68, 145, 0.56);
}

input[type=number]:hover {
    color: white;
    background-color: rgba(43, 68, 145, 0.56);
}

input[type=text]:focus {
    color: white;
    background-color: rgba(43, 68, 145, 0.56);
}

input[type=date]:focus {
    color: white;
    background-color: rgba(131, 18, 18, 0.56);
}

.red-colored {
    color: rgb(255, 55, 55)
}

}

.my-flex {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}


a:hover {
color: green;
background-color:black;
}

li:first-child {
    color: greenyellow;
}

li:last-child {
    color: greenyellow;
}